{{extend 'template.html'}}
<script type="text/javascript">
    $(document).ready(
          
          function(){
    
            $('#btnAnterior').click(function(){
    
                var actual = $('#pActual').text();
                var limite = $('#pCantidad').text();
                
                if(actual > 1)
                {
                    var pregunta_actual ="#Pregunta_"+actual;
                    actual =  (parseInt(actual) - parseInt(1));
                    var pregunta_nueva ="#Pregunta_"+actual;
                    $('#pActual').text(actual);
                    $('#pActual').val(actual);

                    $(pregunta_actual).hide();
                    $(pregunta_nueva).show();
                }

                $("#btnTerminar").hide();
    
            });

            $('#btnSiguiente').click(function(){
    
                var actual = $('#pActual').text();
                var limite = $('#pCantidad').text();
                
                
                if(actual < limite)
                {
                    var pregunta_actual ="#Pregunta_"+actual;
                    BuildingJson(actual);
                    actual =  (parseInt(actual) + parseInt(1));
                    var pregunta_nueva ="#Pregunta_"+actual;
                    $('#pActual').text(actual);
                    $('#pActual').val(actual);

                    $(pregunta_actual).hide();
                    $(pregunta_nueva).show();

                    if(actual == limite)
                    {
                        $("#btnTerminar").show();
                    }
                }
                else
                {
                    $("#btnTerminar").show();
                }
    
            });

            function BuildingJson(id)
            {
                var idTipoActual = "#Tipo_"+id;
                var tipo_actual = $(idTipoActual).text();
                var tipo = "multiple";
                if (tipo_actual == 2)
                {
                    var tipo = "veracidad";
                }
                else if (tipo_actual == 3)
                {
                    var tipo = "directa";
                }
                var idPregunta = $("#Id_"+id).text();
                var valor = $("#Valor_"+id).text();

                var miRespuesta = new Object();
                miRespuesta.id_pregunta = idPregunta;
                miRespuesta.value = valor;
                miRespuesta.tipo = tipo;

                if(tipo_actual==1)
                {
                    var arrayRespuestas = new Array();
                    var indice = parseInt($("#Cantidad_"+id).text());
                    for (var i = 1; i <= indice; i++)
                    {
                        var respuestas = new Object();

                        var valorRespuesta = $("#Pregunta_"+id+"_Respuesta_"+i).text();
                        respuestas.value = valorRespuesta;
                        var valorCorrecta = $("#Pregunta_"+id+"_Correcta_"+i).is(":checked");
                        if (valorCorrecta)
                        {
                            respuestas.correcta = "true";
                        }
                        else
                        {
                            respuestas.correcta = "false";
                        }
                        
                        arrayRespuestas.push(respuestas);
                    }
                    
                    miRespuesta.respuesta = arrayRespuestas;
                }
                else if(tipo_actual==2)
                {
                    
                    if($("#FPregunta_"+id).checked)
                    {
                        miRespuesta.respuesta = "false";
                    }
                    else if ($("#VPregunta_"+id).checked)
                    {
                        miRespuesta.respuesta = "true";
                    }
                    else
                    {
                        miRespuesta.respuesta = null;
                    }
                    
                }
                else
                {
                    miRespuesta.respuesta = $("#respuesta__"+id).text();
                }
                
                var respuestaString = JSON.stringify(miRespuesta);

                alert(respuestaString);
            }
    });
    </script>
</head>
<div class="row-fluid">
	<center>
	    <h2>Evaluacion:
	    	{{if (auth.has_membership('Super-Administrator') == False )and (auth.has_membership('Ecys-Administrator') == False) :}}
	    	<a onclick="javascript:introJs().setOptions({ 'skipLabel': '{{=T('Skip')}}', 'nextLabel': '{{=T('Next')}}', 'prevLabel': '{{=T('Previous')}}', 'doneLabel': '{{=T('Exit')}}' }).start();" href='javascript:void(0);' class="btn btn-primary" >
			  <span class="icon-white icon-question-sign"></span>
			</a>
			{{pass}}
			<br>
        </h2>
	</center>
</div>
<br>
<div class="navbar" data-step=1 data-intro="Div para informacion del quiz">
    <div class="navbar-inner">
        <a style="cursor:pointer;"><center><h4>Informacion general de la evaluacion</h4></center></a>
    </div>
</div>
<div class="well" id="div_metainfo_quiz">
<p><strong>Curso: </strong>{{=programacion.nombre_curso}}</p> 
<p><strong>Actividad: </strong> {{=programacion.actividad_nombre}}  </p>
<p><strong>Tema de evaluacion: </strong> {{=programacion.nombre_quiz}}</p>
<p><strong>Duracion: </strong> {{=programacion.duracion}} minutos</p>
{{ import json  }}
{{JsonPreguntas=json.loads(JsonQuiz)}}
<p><strong>Cantidad de Preguntas: </strong> {{=len(JsonPreguntas["PREGUNTAS"])}} </p>
<p><strong>Carnet: </strong> {{=auth.user.username}}</p>
</div>

<br>
<div class="navbar" data-step=1 data-intro="Div detalle del quiz">
    <div class="navbar-inner">
        <a style="cursor:pointer;"><center><h4>Detalle de la evalucacion</h4></center></a>
    </div>
</div>
<div class="well" id="div_metainfo_quiz">
    <ol>
    {{i=0}}
    {{for pregunta in (JsonPreguntas["PREGUNTAS"]):}}
        {{i=i+1}}
        {{if (i==1) :}}
        <li id="Pregunta_{{=i}}" value="{{=i}}">
                <div>
                    <h4 id="Valor_{{=i}}">{{= unicode(pregunta["value"], 'UTF-8')}}</h4>
                    {{if (pregunta["tipo"]=="multiple") : }}
                    <p id="Tipo_{{=i}}" hidden value=1>1</p>
                    <p id="Id_{{=i}}" value='{{=pregunta["id_pregunta"]}}'>{{=(pregunta["id_pregunta"])}}</p>
                    <p><strong>Tipo:</strong> Pregunta de Opcion Multiple</p>
                    <p><strong>Respuestas: </strong></p>
                            <table WIDTH=50% id="tbRespuestas_{{=i}}">
                                {{j=0}}
                        {{ for respuesta in pregunta["respuesta"] :}}
                        {{j=j+1}}
                                <tr WIDTH=100%>     
                                    <td WIDTH=50% id="Pregunta_{{=i}}_Respuesta_{{=j}}">{{ =respuesta["value"]}}<td>
                                    <td WIDTH=50%><input type="checkbox" class={{=i}} id="Pregunta_{{=i}}_Correcta_{{=j}}"><td>
                                </tr>
                        {{pass}}
                    </table>
                    <p id="Cantidad_{{=i}}" value="{{=j}}">{{=j}}</p>
                    {{elif (pregunta["tipo"]=="veracidad") : }}
                    <p id="Tipo_{{=i}}" hidden value=2>2</p>
                    <p id="Id_{{=i}}" value='{{=pregunta["id_pregunta"]}}'>{{=pregunta["id_pregunta"]}}</p>
                    <p><strong>Tipo: </strong> Pregunta de falso/verdadero</p>
                    <label class="radio-inline label label-warning" ><input type="radio" name="optradio_{{=i}}" id="FPregunta_{{=i}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>FALSO</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <label class="radio-inline label label-success" ><input type="radio" name="optradio_{{=i}}" id="VPregunta_{{=i}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VERDADERO &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        
                    {{else:}}
                    <p id="Tipo_{{=i}}" hidden value=3>3</p>
                    <p id="Id_{{=i}}" value='{{=pregunta["id_pregunta"]}}'>{{=pregunta["id_pregunta"]}}</p>
                    <p><strong>Tipo: </strong> Repuesta Corta</p>
                    <div class="col-xs-2">
                            <label for="ex1">Ingrese su respusta:</label>
                            <input class="form-control" id="respuesta__{{=i}}" type="text" placeholder="Respuesta">
                    </div>
                    {{pass}}
                <div>
            </li>
        {{else:}}
        <li id="Pregunta_{{=i}}" hidden value="{{=i}}">
                <div>
                    <h4 id="Valor_{{=i}}">{{= pregunta["value"]}}</h4>
                    {{if (pregunta["tipo"]=="multiple") : }}
                    <p id="Tipo_{{=i}}" hidden value=1>1</p>
                    <p id="Id_{{=i}}" value='{{=pregunta["id_pregunta"]}}'>{{=pregunta["id_pregunta"]}}</p>
                    <p><strong>Tipo:</strong> Pregunta de Opcion Multiple</p>
                    <p><strong>Respuestas: </strong></p>
                            <table WIDTH=50%>
                                {{j=0}}
                        {{ for respuesta in pregunta["respuesta"] :}}
                        {{j=j+1}}
                                <tr WIDTH=100%>     
                                    <td WIDTH=50% id="Pregunta_{{=i}}_Respuesta_{{=j}}">{{ =respuesta["value"]}}<td>
                                    <td WIDTH=50%><input type="checkbox" class={{=i}} id="Pregunta_{{=i}}_Correcta_{{=j}}"><td>
                                </tr>
                        {{pass}}
                    </table>
                    <p id="Cantidad_{{=i}}" value="{{=j}}">{{=j}}</p>
                    {{elif (pregunta["tipo"]=="veracidad") : }}
                    <p id="Tipo_{{=i}}" hidden value=2>2</p>
                    <p id="Id_{{=i}}" value='{{=pregunta["id_pregunta"]}}'>{{=pregunta["id_pregunta"]}}</p>
                    <p><strong>Tipo: </strong> Pregunta de falso/verdadero</p>
                    <label class="radio-inline label label-warning" ><input type="radio" name="optradio_{{=i}}" id="FPregunta_{{=i}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>FALSO</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <label class="radio-inline label label-success" ><input type="radio" name="optradio_{{=i}}" id="VPregunta_{{=i}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VERDADERO &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        
                    {{else:}}
                    <p id="Tipo_{{=i}}" hidden value=3>3</p>
                    <p><strong>Tipo: </strong> Repuesta Corta</p>
                    <p id="Id_{{=i}}" value='{{=pregunta["id_pregunta"]}}'>{{=pregunta["id_pregunta"]}}</p>
                    <div class="col-xs-2">
                            <label for="ex1">Ingrese su respusta:</label>
                            <input class="form-control" id="respuesta__{{=i}}" type="text" placeholder="Respuesta">
                    </div>
                    {{pass}}
                <div>
            </li>
            
        {{pass}}
        
    {{pass}}
    <hr>
</ol>
<p id="pCantidad"  value="{{=len(JsonPreguntas["PREGUNTAS"])}}" hidden>{{=len(JsonPreguntas["PREGUNTAS"])}}</p>
<p id="pActual"  value="=1" hidden>1</p>
        <center>
        <button name="btnAnterior" type="button" class="btn btn-success" id="btnAnterior">ANTERIOR</button>
        <button name="btnSiguiente" type="button" class="btn btn-info" id="btnSiguiente">SIGUIENTE</button>
        </center>

        <table width="600"> 
            <tr> 
                <td></td>     
            </tr> 
            <tr> 
                <td  style="right:inherit"><button name="btnTerminar" type="button" class="btn btn-danger" id="btnTerminar" style="display: none;">Terminar</button></td> 
            </tr> 
        </table>
</div>