{{extend 'template.html'}}


</head>
<div class="row-fluid">
	<center>
	    <h2>Evaluacion: {{ =metadata.tb_metadata_quiz.nombre }}
	    	{{if (auth.has_membership('Super-Administrator') == False )and (auth.has_membership('Ecys-Administrator') == False) :}}
	    	<a onclick="javascript:introJs().setOptions({ 'skipLabel': '{{=T('Skip')}}', 'nextLabel': '{{=T('Next')}}', 'prevLabel': '{{=T('Previous')}}', 'doneLabel': '{{=T('Exit')}}' }).start();" href='javascript:void(0);' class="btn btn-primary" >
			  <span class="icon-white icon-question-sign"></span>
			</a>
			{{pass}}
			<br>
			<!--small>{{=T(periodo.period.name)}} {{=str(periodo.yearp)}}</small-->
        </h2>
	</center>
</div>

{{ import json  }}
{{quizJson = json.loads(quiz.replace('{[','{"PREGUNTAS" : [') )}}
{{=metada}}


{{ for pregunta in  quizJson["PREGUNTAS"]: }}

{{      = pregunta["id_pregunta"]}}

{{pass}}