{{extend 'template.html'}}


</head>
<div class="row-fluid">
	<center>
	    <h2>Evaluacion: {{ =metadata.tb_metadata_quiz.nombre }}
	    	{{if (auth.has_membership('Super-Administrator') == False )and (auth.has_membership('Ecys-Administrator') == False) :}}
	    	<a onclick="javascript:introJs().setOptions({ 'skipLabel': '{{=T('Skip')}}', 'nextLabel': '{{=T('Next')}}', 'prevLabel': '{{=T('Previous')}}', 'doneLabel': '{{=T('Exit')}}' }).start();" href='javascript:void(0);' class="btn btn-primary" >
			  <span class="icon-white icon-question-sign"></span>
			</a>
			{{pass}}
			<br>
        </h2>
	</center>
</div>
<br>
<div class="navbar" data-step=1 data-intro="Div para informacion del quiz">
    <div class="navbar-inner">
        <a style="cursor:pointer;"><center><h4>Informacion general de la evaluacion</h4></center></a>
    </div>
</div>
<div class="well" id="div_metainfo_quiz">
<p><strong>Creador:</strong> {{=metadata.auth_user.first_name}} {{=metadata.auth_user.last_name}}</p> 
<p><strong>Curso: </strong>  {{=metadata.project.name}}</p>
<p><strong>Fecha de creacion: </strong>  {{=metadata.tb_metadata_quiz.fecha_creacion}}</p></p>
</div>

<br>
{{ import json  }}
{{quizJson = json.loads(quiz.replace('{[','{"PREGUNTAS" : [') )}}
<div class="navbar" data-step=1 data-intro="Div detalle del quiz">
    <div class="navbar-inner">
        <a style="cursor:pointer;"><center><h4>Detalle de la evalucacion</h4></center></a>
    </div>
</div>
<div class="well" id="div_metainfo_quiz">
    <ol>
    {{ for pregunta in  quizJson["PREGUNTAS"]: }}
    <li>
        <div>
            <h4>{{      = pregunta["value"]}}</h4>
            {{if (pregunta["tipo"]=="multiple") : }}
            <p><strong>Tipo:</strong> Pregunta de Opcion Multiple</p>
            {{pass}}
            {{if (pregunta["tipo"]=="veracidad") : }}
            <p><strong>Tipo: Pregunta de falso/verdadero</strong></p>
            {{pass}}
        <div>
    </li>
    {{pass}}
    <ol>
</div>




